//abstracts
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/typography";

//base
@import "./base/resets";
@import "./base/typography";
@import "./base/utilities";

// components
@import "./components/success-modal";
@import "./components/selection-modal";

//layout
@import "./layout/container";
@import "./layout/main-nav";
@import "./layout/header";
@import "./layout/info";
@import "./layout/main";

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $almost-white;
}
