.header {
  @include card;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -10rem;
  max-width: 85%;
  text-align: center;

  &__title {
    margin: 0 4rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;

    &::before {
      content: "";
      width: 5rem;
      height: 5rem;
      background-image: url("/images/logo-mastercraft.svg");
      background-size: 5rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -2.5rem;
    }
  }

  &__text {
    @include text;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    button {
      @include btn;
    }
  }

  &__back-project {
    width: 100%;
    max-width: 20rem;
  }

  &__bookmark {
    margin-left: 0.5rem;
    opacity: 0.5;
    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }
}
