.header {
  @include card;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -10rem;
  max-width: 85%;
  text-align: center;

  @media screen and (min-width: 960px) {
    max-width: $maxWidth;
    margin: 0 auto;
    margin-top: -4rem;
  }

  &__title {
    margin: 0 4rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    @media screen and (min-width: 960px) {
      font-size: 2rem;
    }

    &::before {
      content: "";
      width: 5rem;
      height: 5rem;
      background-image: url("/images/logo-mastercraft.svg");
      background-size: 5rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -2.5rem;
    }
  }

  &__text {
    @include text;
    @media screen and (min-width: 960px) {
      font-size: 1.2rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    @media screen and (min-width: 960px) {
      justify-content: space-between;
      padding: 1rem;
    }

    button {
      @include btn;
    }
  }

  &__back-project {
    width: 100%;
    max-width: 20rem;
    @media screen and (min-width: 960px) {
      min-width: 10rem;
      width: 15rem;
    }
  }

  &__bookmark {
    margin-left: 0.5rem;
    opacity: 0.5;
    position: relative;
    @media screen and (min-width: 960px) {
      max-width: 15rem;
      &::after {
        content: "Bookmark";
        font-size: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5rem;
      }
    }
    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      @media screen and (min-width: 960px) {
        margin-right: 20rem;
      }
    }
  }
}
