main {
  @include card;
  width: 85%;
  margin-bottom: 5rem;

  @media screen and (min-width: 960px) {
    max-width: 960px;
    margin: 3rem auto;
    margin-bottom: 10rem;
  }
  .about {
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    &__text {
      @include text;
      padding: 0;
      margin-bottom: 2rem;
    }
  }
  .content {
    &__pledge {
      @include card;
      h3 {
        @media screen and (min-width: 960px) {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
        font-size: 1rem;
        margin-bottom: 0.5rem;
        span {
          display: block;
          margin-top: 0.5rem;
          font-weight: 500;
          color: $moderate-cyan;
          @media screen and (min-width: 960px) {
            margin-top: 0;
            font-size: 1rem;
            padding-right: 1rem;
          }
        }
      }

      p {
        @include text;
        padding: 0;
        margin-bottom: 1rem;
      }

      div {
        @media screen and (min-width: 960px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 1rem;
        }
      }

      h4 {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 1rem;
        span {
          font-size: 1rem;
          font-weight: 500;
          margin-left: 0.5rem;
          color: $moderate-cyan;
        }
      }

      button {
        @include btn;
        padding: 1rem 2rem;
      }
    }
  }
}
