.selection-modal {
  display: none;
  flex-direction: column;
  @include card;
  width: 85%;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @media screen and (min-width: 960px) {
    max-width: 960px;
    margin: 3rem auto;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    fill: $moderate-cyan;
    &:hover {
      fill: black;
    }
  }
  header {
    font-size: 1rem;
    font-weight: 700;
    p {
      @include text;
      padding: 2rem 0;
    }
  }
}
