.selection-modal {
  display: flex;
  flex-direction: column;
  @include card;
  width: 85%;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    fill: $moderate-cyan;
    &:hover {
      fill: black;
    }
  }
  header {
    font-size: 1rem;
    font-weight: 700;
    p {
      @include text;
      padding: 2rem 0;
    }
  }

  article {
    @include card;
    margin: 1rem;
    padding: 0;
    .choice {
      padding: 1rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      label {
        color: black;
        font-weight: 700;
        margin-left: 1rem;
        span {
          display: block;
          color: $moderate-cyan;
          font-weight: 500;
          margin-top: 0.3rem;
        }
      }
      input {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    p {
      @include text;
      padding: 1rem;
      margin-bottom: 1rem;
    }
    .days-left {
      font-size: 1.5rem;
      font-weight: 700;
      color: black;
      span {
        color: $moderate-cyan;
        font-weight: 500;
      }
    }
  }

  .pledge {
    display: flex;
    flex-direction: column;
    border-top: 0.2rem solid whitesmoke;
    padding: 1rem;
    margin-bottom: 1rem;
    span {
      text-align: center;
      margin: 2rem auto;
      color: $moderate-cyan;
      font-size: 1.2rem;
      font-weight: 500;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        input {
          border-radius: 2rem;
          border: 0.15rem solid lightgrey;
          font-size: 1rem;
          font-weight: 700;
          width: 8rem;
          padding: 1rem;
          padding-left: 2rem;
          text-align: center;
        }
        position: relative;
        &::before {
          position: absolute;
          top: 0.9rem;
          left: 2rem;
          content: "$";
          color: $moderate-cyan;
          font-size: 1.1rem;
          font-weight: 700;
        }
      }
      button {
        @include btn;
        padding: 1rem 2rem;
        border: 0.15rem solid $moderate-cyan;
        margin-left: 1rem;
      }
    }
  }
}
