.disabled-element-btn {
  opacity: 0.5;
  pointer-events: none;
  background-color: $dark-grey !important;
}

.disabled-element {
  opacity: 0.5;
}

.bookmarked {
  background-color: whitesmoke !important;
  opacity: 1 !important;
  @media screen and (min-width: 960px) {
    &::after {
      content: "Bookmarked" !important;
      color: $dark-cyan;
    }
  }
}
